<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>

    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular-cookies.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular-cookies.min.js"></script>
        <script src="js/app.js" type="text/javascript"></script>
    </head>

    <body ng-app="app">
        <div ng-controller="UploadCtrl" class="container">
            <h3>Upload a file...</h3>
            <input file-model="selectedUploadFile" type="file" name="file"/>
            <input ng-model="description" type="text" name="description"/>
            <input ng-model="price" type="number" name="price"/>
            <button type="button" class="btn btn-default" ng-click="uploadFile()">Upload</button>
        </div>
    </body>
</html>